body {
  background-color: rgb(24, 22, 22);
  color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pairing-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.pairing-column {
  width: 45%;
}

.pairing-item {
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  transition: opacity 0.3s ease-in-out;
}

.pairing-item:hover {
  background-color: #007bff;
  color: white;
}

.pairing-item.selected {
  background-color: #28a745;
  color: white;
}

.pairing-item.disabled {
  background-color: #555;
  cursor: not-allowed;
  opacity: 0.5;
}

.pairing-item.correct {
  background-color: #28a745;
  color: white;
}

.pairing-item.incorrect {
  background-color: #ff0000;
  color: white;
}

/* Barra de progresso */
.progress {
  width: 100%;
  background-color: #f3f3f3;
}

.progress-bar {
  background-color: #007bff;
}

/* Feedback Footer */
.feedback-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 16px 16px 0 0;
  padding: 15px;
  background-color: #2d2d2d;
  text-align: center;
  color: white;
}

.feedback-message {
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.feedback-footer button {
  width: 100%;
  background-color: #007bff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  color: white;
}

.feedback-footer button:hover {
  background-color: #0056b3;
}