body {
  background-color: rgb(24, 22, 22);
  color: rgb(255, 255, 255);
  margin: 0;
  height: 100vh;
}

.content {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  transition: width 0.5s;
}

.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  width: 100%;
}

.list-group-item {
  background-color: #2d2d2d;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.list-group-item:hover {
  background-color: #007bff;
  color: white;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #121212;
}

.progress {
  width: 80%;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.progress-bar {
  background-color: #007bff;
}

.btn-skip {
  background-color: #f3f3f3;
  color: #121212;
  border: none;
}

.btn-skip:hover {
  background-color: #007bff;
  color: white;
}